<section id="f-header">
	<div class="f-header-container d-flex">
		<a [routerLink]="['/']" class="fhc-logo d-flex">
			<img src="public/images/main-logo.png" alt="main-logo" />
			<h1>FreshP</h1>
		</a>

		<div class="fhc-log d-flex">
			<a class="" [routerLink]="['/']"><div class="tooltipw">Bientôt disponible</div>Log in</a>
			<a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSfdugHKQIwzo6vwbECXA9axR9LcIkp2M1ELMfO-8CDEAn4Gag/viewform?c=0&w=1">Vous êtes un ecommerçant ?</a>
		</div>
	</div>
</section>