<section id="f-landing">
	<div class="f-landing-container">
		<div class="flc-text align-center">
			<!-- <h1>Delivery Service</h1> -->
			<div class="flct-logo d-flex">
				<img src="public/images/main-logo.png" alt="main-logo" />
				<h1>FreshP</h1>
			</div>
			<h3>Le premier réseau français de relais réfrigérés pour vos colis</h3>
			<button class="flct-button"><div class="tooltipw">Bientôt disponible</div>Créer un compte</button>
		</div>
	</div>

	<div class="f-landing-container2">
		<div class="flc2-body">
			<h2>Vous avez un espace réfrigéré ?</h2>
			<hr /> 
			<p class="flc2-text">Optimisez le en rejoignant le réseau FreshP, le 1er réseau de relais réfrigérés en France.
<br />Réceptionnez, stockez puis restituez aux clients leurs commandes passées en ligne auprès de nos partenaires e-commercants.</p>
			<img class="step-picture-mobile" src="public/images/step1.svg" alt="step-picture" />
			<div class="flc2b-step flc2b-step1 d-flex">
				<img class="step-picture" src="public/images/step1.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">1</span>
					<h4>Créer son compte</h4>
					<p>Créez votre compte en ligne et prenez rendez-vous avec un membre de notre équipe pour finaliser votre inscription.</p>
				</div>
			</div>
			<div class="flc2b-step flc2b-step2 d-flex">
				<img class="step-picture" src="public/images/step2.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">2</span>
					<h4>Vous êtes un e-commercant?</h4>
					<p>Proposez du click & collect à vos clients et optimisez vos frais de livraison en assurant un zéro échec en utilisant notre réseau.</p>
				</div>
			</div>
			<div class="flc2b-step flc2b-step3 d-flex">
				<img class="step-picture" src="public/images/step3.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">3</span>
					<h4>Une gestion facilitée</h4>
					<p>FreshP est disponible en application mobile ou sur ordinateur.</p>
				</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="f-landing-container3">
		<div class="flc3-app d-flex">
			<img class="phone" src="/public/images/mobile-picture.png" alt="app-picture" />
			<div class="flc3a-download">
				<h1>Pour devenir relais FreshP, téléchargez (bientôt) notre appli.</h1>
				<div class="download-badges">
					<a [routerLink]="['/']"><img class="badge-image" src="public/images/apple-badge.svg"></a>
					<a [routerLink]="['/']"><img class="badge-image" src="public/images/google-badge.png"></a>
				</div>
			</div>
		</div>
	</div>
</section>