<section id="f-landing">
	<div class="f-landing-container">
		<div class="flc-text align-center">
			<!-- <h1>Delivery Service</h1> -->
			<div class="flct-logo d-flex">
				<img src="public/images/main-logo.png" alt="main-logo" />
				<h1>FreshP</h1>
			</div>
			<h3>Le premier réseau français de relais réfrigérés pour vos colis</h3>
			<button class="flct-button">Se créer un compte</button>
		</div>
	</div>

	<div class="f-landing-container2">
		<div class="flc2-body">
			<h2>Comment ça marche</h2>
			<div class="flc2b-step flc2b-step1 d-flex">
				<img class="step-picture" src="public/images/step1.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">1</span>
					<h4>Créez son compte</h4>
					<p>Créez votre compte en ligne et prenez rendez-vous avec un membre de notre équipe pour finaliser votre inscription.</p>
				</div>
			</div>
			<div class="flc2b-step flc2b-step2 d-flex">
				<img class="step-picture" src="public/images/step2.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">2</span>
					<h4>Une utilisation simple</h4>
					<p>Gérez et suivez simplement vos colis sur votre espace client.</p>
				</div>
			</div>
			<div class="flc2b-step flc2b-step3 d-flex">
				<img class="step-picture" src="public/images/step3.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">3</span>
					<h4>Une gesttion facilité</h4>
					<p>Notre service génère automatiquement les factures en fonction du nombre de colis distribués par notre réseau.</p>
				</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="f-landing-container3">
		<div class="flc3-app d-flex">
			<img src="/public/images/mobile-picture.png" alt="app-picture" />
			<div class="flc3a-download">
				<h1>Pour devenir relais FreshP, téléchargez notre appli.</h1>
				<div class="download-badges d-flex">
					<a [routerLink]="['/']"><img class="badge-image" src="public/images/apple-badge.svg"></a>
					<a [routerLink]="['/']"><img class="badge-image" src="public/images/google-badge.png"></a>
				</div>
			</div>
		</div>
	</div>
</section>