<section id="f-landing">
	<div class="f-landing-container">
		<div class="flc-text align-center">
			<h1>Delivery Service</h1>
			<h3>Need something delivered across town? We'll safely transport anything from couches to documents to take-out food.</h3>
			<button class="flct-button">Subscribe now</button>
		</div>
	</div>

	<div class="f-landing-container2">
		<div class="flc2-body">
			<h2>How it works</h2>
			<div class="flc2b-step flc2b-step1 d-flex">
				<img class="step-picture" src="public/images/step1.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">1</span>
					<h4>Describe the task</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
			<div class="flc2b-step flc2b-step2 d-flex">
				<img class="step-picture" src="public/images/step2.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">2</span>
					<h4>Get delivered</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
			<div class="flc2b-step flc2b-step3 d-flex">
				<img class="step-picture" src="public/images/step3.svg" alt="step-picture" />
				<div class="flc2bs-info">
					<span class="step-number">3</span>
					<h4>Get shit done</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="f-landing-container3">
		<div class="flc3-app">
			<img src="/public/images/modelapp.png" alt="app-picture" />
		</div>
	</div>
</section>