#f-landing {

	hr { 
	    display: block;
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	    margin-left: auto;
	    margin-right: auto;
	    border-style: inset;
	    border-width: 1px;
	    width: 200px;
	    margin-bottom: 100px;
	}

	.f-landing-container {
		position: relative;
		width: 100%;
		height: 560px;
		background-image: url('/public/images/landing-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;

		.tooltipw {
			width: 120px;
			top: 20px;
			right: 0;
			left: 0;
			margin: 0 auto;
			background-color: #222;
			opacity: 95%;
			-webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
            transform: translateY(10px);
		}

		.flc-text {
			max-width: 700px;
			text-align: center;
			left: 0;
			right: 0;
			margin: 0 auto;

			h1, h3 {
				color: #fff;
			}

			h1 {
				font-family: 'Raleway';
				font-weight: 700;
				font-size: 48px;
				letter-spacing: 2px;
				margin-bottom: 20px;
			}

			h3 {
				font-family: 'Raleway';
				font-size: 28px;
				font-weight: 600;
				line-height: 42px;
				margin-bottom: 35px;
			}

			a {
				position: relative;
				font-family: 'Open Sans';
				font-size: 19px;
				color: #fff;
				padding: 12px 35px;
				background-color: #359ab3;
				border: 1px solid #359ab3;
				border-radius: 4px;
				cursor: pointer;
			}

			a:hover {
				.tooltipw {
		            opacity: 1;
		            pointer-events: auto;
		            -webkit-transform: translateY(30px);
		            -moz-transform: translateY(30px);
		            -ms-transform: translateY(30px);
		            -o-transform: translateY(30px);
		            transform: translateY(30px);
		        }
			}

			.flct-logo {
				justify-content: center;
				align-items: center;
				margin-bottom: 15px;

				h1 {
					font-size: 70px;
					margin-bottom: 0;
				}

				img {
					width: auto;
					height: 120px;
					margin-right: 10px;
				}
			}
		}
	}

	.f-landing-container2 {
		padding-top: 50px;

		.flc2-body {
			text-align: center;

			h2 {
				font-family: 'Open Sans';
				font-weight: 300;
				font-size: 42px;
				color: #222;
				margin-bottom: 10px;
			}

			hr {
				margin-bottom: 15px;
			}

			.flc2-text {
				font-family: 'Open Sans';
				font-size: 16px;
				color: #222;
				max-width: 800px;
				margin: 0 auto;
				margin-bottom: 55px;
				font-weight: 300;
				line-height: 26px;
			}

			.step-picture-mobile {
				display: none;
			}

			.flc2b-step {
				max-width: 620px;
				margin: 0 auto;
				margin-bottom: 80px;
				text-align: left;

				.step-picture {
					width: 250px;
					height: auto;
					margin-right: 25px;
				}

				.flc2bs-info {
					span, h4, p {
						font-family: 'Open Sans';
						color: #222;
					}

					span {
						font-size: 21px;
						padding: 5px 13px;
						border: 1px solid #86919C;
						border-radius: 50%;
						color: #86919C;
						font-weight: 300;
					}

					h4 {
						font-size: 28px;
						font-weight: 300;
						margin-top: 25px;
						margin-bottom: 20px;
						letter-spacing: 1px;
					}

					p {
						font-size: 16px;
						font-weight: 300;
						line-height: 26px;
						letter-spacing: 1px;
					}
				}
			}

			.flc2b-step2 {
				flex-direction: row-reverse;
			}
		}
	}

	.f-landing-container3 {
		.flc3-app {
			background-image: url('/public/images/app-bg.jpg');
			padding: 80px 20px 0 80px;
			align-items: center;

			.phone {
				margin-right: 60px;
			}

			.flc3a-download {

				h1 {
					font-family: 'Open Sans';
					font-weight: 400;
					font-size: 28px;
					color: #222;
					margin-bottom: 35px;
				}

				.relaisbutton {
					position: relative;
					font-family: 'Open Sans';
					font-size: 16px;
					color: #fff;
					padding: 10px 25px;
					background-color: #359ab3;
/*					border: 1px solid #359ab3;
*/					border-radius: 4px;
					cursor: pointer;
				}

				.ebutton {
					position: relative;
					font-size: 16px;
					padding: 10px 25px;
					background-color: #fff;
					border: 1px solid #359ab3;
					border-radius: 4px;
					color: #359ab3;
					font-family: 'Raleway';
					font-weight: 600;
					cursor: pointer;
					margin: 0 50px;
				}

				.ebutton:hover {
					background-color: transparent;
					.tooltipw {
			            opacity: 1;
			            pointer-events: auto;
			            -webkit-transform: translateY(50px);
			            -moz-transform: translateY(50px);
			            -ms-transform: translateY(50px);
			            -o-transform: translateY(50px);
			            transform: translateY(50px);
			        }
				}

				.download-badges {
					display: flex;
					align-items: center;
					justify-content: center;

					.badge-image {
						width: 250px;
						height: auto;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.tooltipw {
    display: block;
    position: absolute;
    background: black;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #fff;
    opacity: 0;
    padding: 3px 15px;
    border-radius: 4px;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltipw:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
}

.tooltipw:after {
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    border-bottom: solid #222 6px;
    top: -5px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}

@media only screen and (max-width: 768px) {
	#f-landing {
		.f-landing-container {
			height: 420px;
			padding: 15px;
			box-sizing: border-box;

			.flc-text {

				h1 {
					font-size: 36px;
				}

				h3 {
					font-size: 21px;
					margin-bottom: 25px;
					line-height: 24px;
				}

				.flct-logo {
					margin-bottom: 10px;

					h1 {
						font-size: 36px;
						margin-bottom: 0;
					}

					img {
						width: auto;
						height: 60px;
						margin-right: 10px;
					}
				}
			}
		}

		.f-landing-container2 {
			padding: 25px 25px 0 25px;
		}

		.f-landing-container3 {
			.flc3-app {
				padding: 80px 20px 80px 20px;
				box-sizing: border-box;

				.phone {
					display: none;
				}

				.flc3a-download {
					text-align: center;

					h1 {
						font-size: 24px;
					}

					.download-badges {
						display: block;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 442px) {
	#f-landing {
		.f-landing-container2 {
			.flc2-body {

				h2 {
					font-size: 32px;
				}

				.step-picture-mobile {
					display: block;
					width: 200px;
					margin: 0 auto;
					margin-bottom: 35px;
				}

				.flc2b-step {
					margin-bottom: 50px;

					.step-picture {
						display: none;
					}

					.flc2bs-info {
						text-align: center;
					}
				}
			}
		}
	}
}